

html {
    background-color: black;
}

.testImg {
    width: 200px;
    height: 200px;
    border: 2px solid #0094ff;
    background: url('../../images/微信图片_20200923093911.jpg');
    animation: myfirst 3s;
    animation-iteration-count: infinite;
    /* Opera */
}

.testImg2 {
    width: 100px;
    height: 100px;
    border: 2px solid #9494ff;
    background: url('../../images/02.jpg');
}
@keyframes rotateA {
    
    100% {
        transform: rotate(360deg);
    }
}
@keyframes myfirst
{
0%   {background:red;}
25%  {background:yellow;}
50%  {background:blue;}
100% {background:green;}
}

